body {
    font-family: sans-serif;
    background-color: #2b6777;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-content:center;
    justify-content:space-between;
    margin:0px;
}

button {
    cursor:pointer;
}

p, h4 {
    margin: 10px;
}

.header {
    color: #e4f1fe;
    background-color:#34495e;
    font-size:40px;
}

.addBook {
    font-size:40px;
    font-style:25px;
    width:auto;
    height:auto;
    color: #22313f;
    background-color:#e4f1fe;
    border: solid #22313f 3px;
    border-radius: 10px;
    padding: 10px;
    margin:50px;
    box-shadow:3px 3px;
}

.addBook:hover, .butt2:hover, .butt3:hover {
    transform:translateY(1px);
}

.addBook:active, .butt2:active, .butt3:active {
    transform:translateY(5px);
    box-shadow: 0px 0px;
}

.popup {
    color: #e4f1fe;
    font-size: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:absolute;
    left: 50%;
    top:40%;
    gap:10px;
    margin-top: -100px;
    margin-left:-225px;
    height:550px;
    width:400px;
    padding:20px;
    padding-top:0px;
    background-color:#34495e;
    border: solid #22313f 3px;
    border-radius:10px;
    visibility:hidden;
    z-index:9;
}

.cardStack {
    font-size: 30px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:left;
    margin:10px;
    gap: 10px;
    align-items:center;
}

.cardStyle {
    display:flex;
    flex-direction:column;
    vertical-align:top;
    padding:10px;
    width: 250px;
    gap:2px;
    height:auto;
    white-space:pre-wrap;
    word-wrap:break-word;
    border: solid #34495e 5px;
    border-radius:10px;
    background-color: #8dc6ff ;
    color: #34495e;
    box-shadow:5px 5px black;
}

.butts {
    display:flex;
    flex-direction:row;
    gap:15px;
    justify-content:center;
    margin:15px;
}

.butt2 {
    padding:15px;
    width:120px;
    font-size:20px;
    font-family: sans-serif;
    color: #22313f;
    background-color:#e4f1fe;
    border: solid #22313f 3px;
    border-radius:10px;
    box-shadow: 3px 3px;
}

.butt3 {
    padding:15px;
    width:150px;
    font-size:30px;
    font-family: sans-serif;
    color: #22313f;
    background-color:#e4f1fe;
    border: solid #22313f 3px;
    border-radius:10px;
    box-shadow: 3px 3px;
}

.field {
    font-size:30px;
    padding:10px;
    border: solid #22313f 3px;
    background-color:#e7f1fe;
    border-radius: 5px;
    margin:5px;
}

.checkbox {
    margin-top:10px;
    margin-bottom:10px;
    width: 23px;
    height:23px;
}